// /* ==========================================================================
//    Site
//    ========================================================================== */

// .site__header {
//   position: relative;
//   display: flex;
//   align-items: center;
//   @include margin-top(1);
//   @include margin-bottom(1);
//   font-family: $monospace-font;
//   z-index: 150;

//   @include breakpoint($md-up) {
//     grid-column: 3 / 5;
//     grid-row: 1;
//     align-self: start;
//   }

//   @include breakpoint($lg-up) {
//     grid-column: 3;
//   }
// }

// .site__name {
//   display: inline-block;
//   margin: 0;
//   color: #000;
//   font-family: $alternate-font;
//   font-size: 1em;
//   font-weight: 700;
//   @include line-height(1);
//   text-transform: uppercase;

//   a {
//     color: inherit;
//     text-decoration: none;
//   }
// }

// .is--inverted .site__name {
//   color: #fff;
// }

// .author {
//   align-self: flex-start;
//   font-family: $monospace-font;
//   font-size: 0.8em;

//   @include breakpoint($md-up) {
//     @include margin-bottom(1);
//   }

//   .byline {
//     &::before {
//       content: "__by ";
//     }
//   }
// }

// .site__footer {
//   @include margin-top(4);
//   @include margin-bottom(1);
//   color: mix(#fff, $text-color, 40%);
//   font-size: 0.8em;

//   @include breakpoint($md-up) {
//     grid-column: 3 / 8;
//     grid-row: 7 / span 1;
//     align-self: center;
//   }

//   a {
//     color: inherit;
//     white-space: nowrap;
//   }

//   .menu {
//     display: flex;
//     flex-flow: row wrap;
//     margin-bottom: 0;
//     font-family: $sans-serif-font;
//     font-weight: 400;
//     @include list-unstyled();

//     li {
//       flex-basis: 50%;

//       @include breakpoint($md-up) {
//         flex-basis: auto;
//       }

//       a {
//         display: block;
//         margin-right: 2em;
//         @include margin-bottom(0.5);

//         &:hover {
//           text-decoration: underline;
//         }
//       }
//     }
//   }

//   .copyright {
//     font-family: $monospace-font;

//     p {
//       margin-bottom: 0;
//     }

//     a + a {
//       margin-left: 1em;
//     }
//   }
// }


.bigfoot-footnote__button {
  font-family: $monospace;
}

.bigfoot-footnote__content {
  line-height: 1.625; // match body line-height
}

// .image__outer-wrapper {
//   width: 100%;
//   height: 100%;
// }

// .image__wrapper {
//   position: relative;
//   width: 100%;
//   height: 100%;
//   background-color: #eaeaea;

//   img {
//     transition: opacity 0.5s ease 0.25s;

//     @include breakpoint($md-up) {
//       position: absolute;
//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 100%;
//       object-fit: cover;
//       object-position: center center;
//     }

//   }
// }

// .image__aspect-ratio {
//   display: none;

//   @include breakpoint($md-up) {
//     display: block;
//     content: '';
//     width: 100%;
//     padding-top: (3 / 4) * 100%;
//   }
// }

// .image__caption {
//   position: absolute;
//   right: 0;
//   bottom: 0;
//   padding: 0.5em 1em;
//   color: #fff;
//   font-size: 0.6em;
//   line-height: 1;
//   text-align: right;
//   background: rgba(0, 0, 0, 0.7);

//   a {
//     color: inherit;
//     text-decoration: none;
//   }
// }

// .custom-object-fit {
//   position: relative;
//   background-size: cover;
//   background-position: center center;

//   .image__outer-wrapper {
//     opacity: 0;
//   }
// }


/*! Title: Dev Portfolio Template Version: 1.2.1 Last Change: 08/28/2017 Author: Ryan Fitzgerald Repo: https://github.com/RyanFitzgerald/devportfolio-template Issues: https://github.com/RyanFitzgerald/devportfolio-template/issues Description: This file contains all the styles associated with the page that don't come from third party libraries. This file gets compiled using Gulp and send to the /css folder which is then loaded on the page. */
.no-js #experience-timeline>div{
  background:#fff;
  padding:10px;
  margin-bottom:10px;
  border:1px solid #dcd9d9
}
.no-js #experience-timeline>div h3{
  font-size:1.5em;
  font-weight:300;
  color:#374054;
  display:inline-block;
  margin:0
}
.no-js #experience-timeline>div h4{
  font-size:1.2em;
  font-weight:300;
  color:#7e8890;
  margin:0 0 15px 0
}
.no-js #experience-timeline>div p{
  color:#74808a;
  font-size:0.9em;
  margin:0
}
.no-js #experience-timeline:before,.no-js #experience-timeline:after{
  content:none
}#experience-timeline{
    margin:30px auto 0 auto;
    position:relative;
    max-width:1000px
}
#experience-timeline:before{
    position:absolute;
    content:'';
    top:0;
    bottom:0;
    left:303px;
    right:auto;
    height:100%;
    width:3px;
    background:#3498db;
    z-index:0
}
#experience-timeline:after{
    position:absolute;
    content:'';
    width:3px;
    height:40px;
    background:#3498db;
    background:linear-gradient(to bottom, #3498db, rgba(52,152,219,0));
    top:100%;
    left:303px
}
.vtimeline-content{
    margin-left:350px;
    background:#fff;
    border:1px solid #e6e6e6;
    padding:15px;
    border-radius:3px;
    text-align:left
}
.vtimeline-content h3{
    font-size:1.5em;
    font-weight:300;
    color:#374054;
    display:inline-block;
    margin:0
}
.vtimeline-content h4{
    font-size:1.2em;
    font-weight:300;
    color:#7e8890;
    margin:0 0 15px 0
}
.vtimeline-content p{
    color:#74808a;
    font-size:0.9em;
    margin:0
}
.vtimeline-point{
    position:relative;
    display:block;
    vertical-align:top;
    margin-bottom:30px
}
.vtimeline-icon{
  position:relative;
  color:#fff;
  width:40px;
  height:40px;
  background:#b81a1a;
  border-radius:50%;
  float:left;
  z-index:99;
  margin-left:280px
}
.vtimeline-icon i{
  display:inline-block;
  text-align:center;
  // font-size:2em;
  font-size:20px;
  margin-top:20px
}
.vtimeline-date{
    width:260px;
    text-align:right;
    position:absolute;
    left:0;
    top:10px;
    font-weight:300;
    color:#374054
}
#experience-timeline{
  margin:30px auto 0 auto;
  position:relative;
  max-width:1000px
}
#experience-timeline:before{
  position:absolute;
  content:'';
  top:0;
  bottom:0;
  left:303px;
  right:auto;
  height:100%;
  width:3px;
  background:#b81a1a;
  z-index:0
}
#experience-timeline:after{
  position:absolute;
  content:'';
  width:3px;
  height:40px;
  background:#b81a1a;
  background:linear-gradient(to bottom, #b81a1a, rgba(52,152,219,0));
  top:100%;
  left:303px
}
.vtimeline-content{
  margin-left:350px;
  background:#fff;
  border:1px solid #e6e6e6;
  padding:15px;
  border-radius:3px;
  text-align:left
}
.vtimeline-content h3{
  font-size:1.5em;
  font-weight:300;
  color:#374054;
  display:inline-block;
  margin:0
}
.vtimeline-content h4{
  font-size:1.2em;
  font-weight:300;
  color:#7e8890;
  margin:0 0 15px 0
}
.vtimeline-content p{
  color:#74808a;
  font-size:0.9em;
  margin:0
}
.vtimeline-point{
  position:relative;
  display:block;
  vertical-align:top;
  margin-bottom:30px
}
.vtimeline-date{
  width:260px;
  text-align:right;
  position:absolute;
  left:0;
  top:10px;
  font-weight:300;
  color:#374054
}
// Always small screen setting
#experience-timeline:before,#experience-timeline:after{
  left:20px
}
.vtimeline-date{
  width:auto;
  text-align:left;
  position:relative;
  margin-bottom:15px;
  display:block;
  margin-left:70px
}
.vtimeline-icon{
  margin-left:0
}
.vtimeline-content{
  margin-left:70px
}